<div class="container center_div">
            <form>
                <div class="form-group">
                    <label for="loginEmail"> Email</label>
                    <input id="loginEmail" type="text" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="loginSenha">Senha</label>
                    <input id="loginSenha" type="password" class="form-control" />
                </div>
                <button type="submit" class="btn btn-default"> Acessar</button>
            </form>
</div>